h2 {
    text-align: center;
}
.fila1 {
    display: block;
    display: flex;
    background-color: skyblue;

    padding: 5px;
    margin: 20px; 
    align-items: center;
    justify-content: space-evenly;
}
.fila2{
    display: block;
    display: flex;
    background-color: palevioletred;

    padding: 5px;
    margin: 20px; 
    align-items: center;
    justify-content: space-evenly;
}
.fila3{
    display: block;
    display: flex;
    background-color: rgb(255,255,255);

    padding: 5px;
    margin: 20px; 
    align-items: center;
    justify-content: space-evenly;
}