*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    width: 1000px;
    height: 500px;
    background-color: whitesmoke;
}
.barrasup{
    width: 800px;
    height: 60px;
    background-color: gray;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.titulobarrasup{
    font-weight: lighter;
    font-size: 30px;
    color: whitesmoke;
    display: flex;
    margin-left: 20px;
}
.barrabuscador{
    width: 300px;
    height: 20px;
    margin-left: 150px;
    color: grey;
}
.boton{
    display: flex;
}
.btn{
    width: 100px;
    height: 30px;
    color: antiquewhite;
    font-weight: bold;
    font-size: medium;
    background-color: rgb(91,209,215); 
    box-shadow: 3px 3px 3px black; 
    margin-left: 80px;
}
.contenedor1{
    width: 500px;
    height: 180px;
    border: 2px gray solid;
    position: absolute;
    top: 80px; left: 100px;
    display:inline-flex
}
.cajaizq{
    width: 200px;
    height: 180px;
    display: block;
}
.p1{
    font-size: 40px;
    text-align: center;
    margin: 10px;
}
.p2{
    font-size: 25px;
    text-align: center;
    margin: 5px;
    font-style: italic;
}
.p3{
    font-size: 15px;
    text-align: center;
    margin: 5px;
}
.boton1{
    display: flex;
}
.btn1{
    width: 100px;
    height: 30px;
    color: black;
    font-size: medium;
    background-color: #FBBC05; 
    box-shadow: 3px 3px 3px black; 
    margin-left: 50px;
    margin-top: 10px;
}
.cajader{
    width: 300px;
    height: 180px;
    display: flex;
}
.p4{
    font-size: 18px;
    text-justify: distribute;
    margin: 10px;
    margin-top: 60px;
}
.contenedor2{
    width: 500px;
    height: 180px;
    border: 2px gray solid;
    position: absolute;
    top: 280px; left: 100px;
    display:inline-flex
}
.boton2{
    display: flex;
}
.btn2{
    width: 100px;
    height: 30px;
    color: black;
    font-size: medium;
    background-color: #FBBC05; 
    box-shadow: 3px 3px 3px black; 
   margin-left: 50px;
   margin-top: 10px;
}
.contenedor3{
    width: 278px;
    height: 120px;
    border: 2px gray solid;
    position: absolute;
    top: 80px; left: 620px;
    display:block;

}
.p5{
    font-size: 20px;
    text-align: justify;
    margin: 15px;
    margin-top: 20px;
}
.p2a{
    font-size: 25px;    
}
.boton3{
    display: inline;
}
.btn3{
    width: 200px;
    height: 30px;
    color: black;
    font-size: medium;
    background-color: #FBBC05; 
    box-shadow: 3px 3px 3px black; 
    margin-left: 40px;
}